


@using ITech.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    IPagedList<Product> products = ViewBag.products;
    Shop objShop = ViewBag.Shop as Shop;
}
@{
    ViewBag.Title = "Cửa hàng - " + objShop.ShopName;
    Layout = "~/Views/Shared/MasterKH.cshtml";
}


<div class="ads-grid py-sm-5 py-4">
    <div class="container-fluid py-xl-4 py-lg-2 px-xl-4 px-lg-2">
        <!-- tittle heading -->
        <!--<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>S</span>ản
            <span>P</span>hẩm
            <span>N</span>ổi
            <span>B</span>ật</h3>-->
        <!-- //tittle heading -->
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-12">
                <div class="wrapper">
                    <!-- first section -->
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="heading-tittle text-left font-italic">

                                    <div class="color-add-cart"><img class="img-thumbnail" style="width:50px; height:50px;" src="/images/commons/@objShop.Avatar" /> @objShop.ShopName</div>
                                    <hr />
                                    <p>Địa chỉ:@objShop.WardName,  @objShop.DistrictName,  @objShop.CityName</p>
                                    <p>Điện thoại: @objShop.Phone</p>
                                    <p>Trạng thái cửa hàng: @(objShop.Status == HangSo.DaDuyet ? "Đang mở" : "")</p>
                                    <p>Thông tin: @objShop.Description</p>

                                </h3>
                            </div>
                          
                        </div>
                    </div>
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <h3 class="heading-tittle text-left font-italic">

                            <div class="color-buy-now">Các sản phẩm của cửa hàng</div>
                            <hr />
                        </h3>
                        <div class="row">


                            <!--product item -->
                            @foreach (Product p in products)
                            {
                                <div class="col-md-2 col-sm-3 col-4 product-men mt-5">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item text-center">
                                            <img title="@p.Title" src="/images/@p.Image" alt="" height="200px" width="100px" style="object-fit: contain;">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a title="@p.Title" href="/chi-tiet-san-pham?id=@p.ID&name=@p.Title" class="link-product-add-cart">Chi tiết</a>
                                                </div>
                                            </div>
                                            @if (p.OldPrice != p.Price)
                                            {
                                                <span class="product-new-top">-@Math.Round(double.Parse(((p.OldPrice - p.Price) / p.OldPrice * 100).ToString()), 2)%</span>

                                            }
                                        </div>
                                        <div class="item-info-product text-left border-top mt-4">
                                            <h4 class="pt-1">
                                                <div class="my-3"><a title="@p.Title" href="/chi-tiet-san-pham?id=@p.ID&name=@p.Title">@(p.Title.Length > 28 ? p.Title.Substring(0, 27) + "..." : p.Title)</a></div>
                                                <p>Đã bán: @p.Sold</p>
                                                <p>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span> (180)
                                                </p>
                                            </h4>
                                            <div class="info-product-price my-2">
                                                @if (p.OldPrice != p.Price)
                                                {
                                                    <div><del>@string.Format("{0:#,###}", p.OldPrice) đ</del></div>
                                                }
                                                else
                                                {
                                                    <br />
                                                }

                                                <div class="item_price">@string.Format("{0:#,###}", p.Price) đ</div>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                        <div class="mt-5">
                            @Html.PagedListPager(products, page => Url.Action("ProductByShop", new { page, TenSP = ViewBag.TenSP }))
                        </div>
                    </div>

                </div>

            </div>
            <!-- //product left -->
          
        </div>
    </div>
</div>



