
@using ITech.Models;
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Website thương mại điện tử ITech";
    Layout = "~/Views/Shared/MasterKH.cshtml";
}
@{
    IPagedList<Product> products = ViewBag.products;
}

<div class="ads-grid py-sm-5 py-4">
    <div class="container-fluid py-xl-4 py-lg-2 px-xl-4 px-lg-2">
        <!-- tittle heading -->
        <!--<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>S</span>ản
            <span>P</span>hẩm
            <span>N</span>ổi
            <span>B</span>ật</h3>-->
        <!-- //tittle heading -->
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-9">
                <div class="wrapper">
                    <!-- first section -->

                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <h3 class="heading-tittle text-left font-italic">
                            @if (!string.IsNullOrEmpty(ViewBag.TenSP))
                            {
                                <div class="color-buy-now">Kết quả tìm kiếm cho từ khóa '@ViewBag.TenSP'</div>

                                <hr />
                            }
                            else if (!string.IsNullOrEmpty(ViewBag.danhmuc))
                            {
                                <div class="color-buy-now">Kết quả tìm kiếm cho danh mục '@(GetObj.GetCategory(int.Parse(ViewBag.danhmuc)).Name)'</div>

                                <hr />
                            }
                        </h3>
                        <div class="row">


                            <!--product item -->
                            @foreach (Product p in products)
                            {
                                <div class="col-md-2 col-sm-3 col-4 product-men mt-5">
                                    <div class="men-pro-item simpleCart_shelfItem">
                                        <div class="men-thumb-item text-center">
                                            <img title="@p.Title" src="/images/@p.Image" alt="" height="200px" width="100px" style="object-fit: contain;">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a title="@p.Title" href="/chi-tiet-san-pham?id=@p.ID&name=@p.Title" class="link-product-add-cart">Chi tiết</a>
                                                </div>
                                            </div>
                                            @if (p.OldPrice != p.Price)
                                            {
                                                <span class="product-new-top">-@Math.Round(double.Parse(((p.OldPrice - p.Price) / p.OldPrice * 100).ToString()), 2)%</span>

                                            }
                                        </div>
                                        <div class="item-info-product text-left border-top mt-4">
                                            <h4 class="pt-1">
                                                <div class="my-3"><a title="@p.Title" href="/chi-tiet-san-pham?id=@p.ID&name=@p.Title">@(p.Title.Length > 28 ? p.Title.Substring(0, 27) + "..." : p.Title)</a></div>
                                                <p>Đã bán: @p.Sold</p>
                                                <p>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span> (180)
                                                </p>
                                            </h4>
                                            <div class="info-product-price my-2">
                                                @if (p.OldPrice != p.Price)
                                                {
                                                    <div><del>@string.Format("{0:#,###}", p.OldPrice) đ</del></div>
                                                }
                                                else
                                                {
                                                    <br />
                                                }

                                                <div class="item_price">@string.Format("{0:#,###}", p.Price) đ</div>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                @*<form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="cmd" value="_cart" />
                                                        <input type="hidden" name="add" value="1" />
                                                        <input type="hidden" name="business" value=" " />
                                                        <input type="hidden" name="item_name" value="Samsung Galaxy J7" />
                                                        <input type="hidden" name="amount" value="200.00" />
                                                        <input type="hidden" name="discount_amount" value="1.00" />
                                                        <input type="hidden" name="currency_code" value="USD" />
                                                        <input type="hidden" name="return" value=" " />
                                                        <input type="hidden" name="cancel_return" value=" " />
                                                        <input type="submit" name="submit" data-id="@p.ID" data-name="@p.Title" data-quantity="1" value="Thêm giỏ" class="button btn btnThemGio" />
                                                    </fieldset>
                                                </form>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                        <div class="mt-5">
                            @Html.PagedListPager(products, page => Url.Action("SearchProduct", new { page, TenSP = ViewBag.TenSP }))
                        </div>
                    </div>

                </div>
               
            </div>
            <!-- //product left -->
            <!-- product right -->
            <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                <div class="side-bar p-sm-4 p-3">
                    <div class="search-hotel border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Tìm kiếm..</h3>
                        <form action="#" method="post">
                            <input type="search" id="fieldSearch" value="@ViewBag.fieldSearch" placeholder="Nhập tên sản phẩm ...">
                            <input id="btnSearchLeft" type="submit" value=" ">
                        </form>
                    </div>
                    <!-- price -->
                    <div class="range border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Khoảng giá</h3>
                        <div class="w3l-range">
                            <ul>
                                <li>
                                    <a href="javascript:;" class="filterGia" onclick="return SearchByGia('0-2000000')">Dưới 2 triệu</a>
                                </li>
                                <li class="my-1">
                                    <a href="javascript:;" class="filterGia" onclick="return SearchByGia('2000000-5000000')">Từ 2 đến 5 triệu</a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="filterGia" onclick="return SearchByGia('5000000-10000000')">Từ 5 đến 10 triệu</a>
                                </li>
                                <li class="my-1">
                                    <a href="javascript:;" class="filterGia" onclick="return SearchByGia('10000000-20000000')">Từ 10 đến 20 triệu</a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="filterGia" onclick="return SearchByGia('20000000')">Lớn hơn 20 triệu</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    <!-- //price -->
                    
                    <!-- best seller -->
                    <div class="f-grid py-2">
                        <h3 class="agileits-sear-head mb-3"></h3>
                        <div class="box-scroll">
                            <div class="scroll">
                                @foreach (Product p in ViewBag.productQC)
                                {
                                    <div class="row my-2">
                                        <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                            <img src="images/@p.Image" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                            <a href="/chi-tiet-san-pham?id=@p.ID&name=@p.Title" title="@p.Title">@p.Title</a>
                                            <a href="/chi-tiet-san-pham?id=@p.ID&name=@p.Title" class="price-mar mt-2"><del>@string.Format("{0:#,###}", p.OldPrice)</del> @string.Format("{0:#,###}", p.Price)</a>
                                        </div>
                                    </div>
                                }

                               
                            </div>
                        </div>
                    </div>
                    <!-- //best seller -->
                </div>
                <!-- //product right -->
            </div>
        </div>
    </div>
</div>

