@{ 
    Layout = null;
}
@using ITech.Models;

@model AddressDeliver

<script src="~/Assets/js/util.js"></script>
<script>
    $(document).ready(function () {

        var urlCity = "https://online-gateway.ghn.vn/shiip/public-api/master-data/province";
        var urlDistrict = "https://online-gateway.ghn.vn/shiip/public-api/master-data/district";
        var urlWard = "https://online-gateway.ghn.vn/shiip/public-api/master-data/ward";
        localStorage.setItem('token', "4427424b-9ccc-11eb-9035-ae038bcc764b");
        $("#hdCityCode").val('@Model.CityCode.Trim()');
        $("#hdDistrictCode").val('@Model.DistrictCode.Trim()');
        $("#hdWardCode").val('@Model.WardCode.Trim()');

        $.ajax({
            type: "GET",
            url: urlCity,
            dataType: "json",
            headers: { "token": localStorage.getItem('token') },
            success: function (d) {
                var html = "<option value=''>Tỉnh/Thành phố</option>";

                d.data.sort((a, b) => (a.ProvinceName > b.ProvinceName) ? 1 : -1);
                Object.keys(d.data).forEach(function (elm) {
                    elm = d.data[elm];
                    if (elm.ProvinceID =='@Model.CityCode.Trim()')
                        html += "<option selected='selected' data-name='" + elm.ProvinceName + "' value='" + elm.ProvinceID + "'>" + elm.ProvinceName + "</option>";
                    else 
                        html += "<option data-name='" + elm.ProvinceName + "' value='" + elm.ProvinceID + "'>" + elm.ProvinceName + "</option>";

                });
                $('#ddlCity').html(html);

            }
        });
        $.ajax({
            type: "get",
            url: urlDistrict,
            data: { province_id: $("#hdCityCode").val() },
            dataType: "json",
            headers: { "token": localStorage.getItem('token') },
            success: function (d) {
                console.log(d);
                var html = "<option value=''>Quận/Huyện</option>";
                d.data.sort((a, b) => (a.DistrictName > b.DistrictName) ? 1 : -1);
                Object.keys(d.data).forEach(function (elm) {
                    elm = d.data[elm];
                    if (elm.DistrictID =='@Model.DistrictCode.Trim()')
                        html += "<option  selected='selected' data-name='" + elm.DistrictName + "' value='" + elm.DistrictID + "'>" + elm.DistrictName + "</option>";
                    else
                        html += "<option data-name='" + elm.DistrictName + "' value='" + elm.DistrictID + "'>" + elm.DistrictName + "</option>";

                });
                $('#ddlDistrict').html(html);

            }
        });

        $.ajax({
            type: "get",
            url: urlWard,
            data: { district_id: $("#hdDistrictCode").val() },
            dataType: "json",
            headers: { "token": localStorage.getItem('token') },
            success: function (d) {
                console.log(d);
                var html = "<option value=''>Phường/Xã</option>";
                d.data.sort((a, b) => (a.WardName > b.WardName) ? 1 : -1);
                Object.keys(d.data).forEach(function (elm) {
                    elm = d.data[elm];
                    if (elm.WardCode =='@Model.WardCode.Trim()')
                        html += "<option selected='selected'  data-name='" + elm.WardName + "' value='" + elm.WardCode + "'>" + elm.WardName + "</option>";
                    else 
                        html += "<option data-name='" + elm.WardName + "' value='" + elm.WardCode + "'>" + elm.WardName + "</option>";

                });
                $('#ddlWard').html(html);

            }
        });

        $('#ddlCity').on('change', function () {

            $.ajax({
                type: "get",
                url: urlDistrict,
                data: { province_id : $('#ddlCity').val() },
                dataType: "json",
                headers: { "token": localStorage.getItem('token') },
                success: function (d) {
                    console.log(d);
                    var html = "<option value=''>Quận/Huyện</option>";
                    d.data.sort((a, b) => (a.DistrictName > b.DistrictName) ? 1 : -1);
                    Object.keys(d.data).forEach(function (elm) {
                        elm = d.data[elm];
                        html += "<option data-name='" + elm.DistrictName +"' value='" + elm.DistrictID + "'>" + elm.DistrictName + "</option>";
                    });
                    $('#ddlDistrict').html(html);
                    $('#ddlWard').html("<option value=''>Phường/Xã</option>");
                }
            });
            

        })

        $('#ddlDistrict').on('change', function () {
            $.ajax({
                type: "get",
                url: urlWard,
                data: { district_id : $('#ddlDistrict').val() },
                dataType: "json",
                headers: { "token": localStorage.getItem('token') },
                success: function (d) {
                    console.log(d);
                    var html = "<option value=''>Phường/Xã</option>";
                    d.data.sort((a, b) => (a.WardName > b.WardName) ? 1 : -1);
                    Object.keys(d.data).forEach(function (elm) {
                        elm = d.data[elm];
                        html += "<option data-name='" + elm.WardName + "' value='" + elm.WardCode + "'>" + elm.WardName + "</option>";
                    });
                    $('#ddlWard').html(html);

                }
            });
            
        })

        

        $('.btnSubmit').click(function (e) {
            e.preventDefault();

            if ($('#frmThemDiaChi').valid()) {
                $('#hdCity').val($('#ddlCity').find('option:selected').data('name'));
                $('#hdDistrict').val($('#ddlDistrict').find('option:selected').data('name'));
                $('#hdWard').val($('#ddlWard').find('option:selected').data('name'));
                var dt = $("#frmThemDiaChi").find("input,textarea,select,hidden").not("#__VIEWSTATE,#__EVENTVALIDATION, #__VIEWSTATEGENERATOR").serialize();
                $.post("Cart/UpdateAddressDelivery", dt, function (d) {

                    createMessageBoxUrl("Thông báo", d.Message, d.Error, location.href);
                    if (d.Error == false) {
                        localStorage.removeItem('token');
                    }

                })
            }
            return false;

        })
    })
</script>

<div class="container">

    <div class="message-alert"></div>
    <form id="frmThemDiaChi">
        <input type="hidden" id="itemID" value="@Model.ID" />
        <input type="hidden" id="hdCity" />
        <input type="hidden" id="hdDistrict" />
        <input type="hidden" id="hdWard" />
        <input type="hidden" id="hdCityCode" />
        <input type="hidden" id="hdDistrictCode" />
        <input type="hidden" id="hdWardCode" />
        <div class="form-group">
            <input type="text" class="form-control" value="@Model.Cus_name" placeholder="Họ tên người nhận hàng" name="Cus_name" required="">
        </div>
        <div class="form-group">
            <input type="tel" class="form-control" value="@Model.Cus_phone" placeholder="Số điện thoại người nhận" name="Cus_phone" required="">
        </div>
        <div class="form-group">
            <select id="ddlCity" class="form-control" required>

                <option value="">Tỉnh/Thành phố</option>
            </select>
        </div>
        <div class="form-group">
            <select id="ddlDistrict" class="form-control" required>
                <option value="">Quận/Huyện</option>

            </select>
        </div>
        <div class="form-group">
            <select id="ddlWard" class="form-control" required>
                <option value="">Phường/Xã</option>
            </select>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" value="@Model.ApartmentNumber" placeholder="Tòa nhà, tên đường" name="ApartmentNumber" required="">
        </div>
        <div class="form-group">
            @if (Model.Default == 1)
            {
                <fieldset>
                    <input checked="checked" type="checkbox" name="Default"> Đặt làm địa chỉ mặc định
                </fieldset>
            }
            else
            {
                <fieldset>
                    <input type="checkbox" name="Default"> Đặt làm địa chỉ mặc định
                </fieldset>
            }
        </div>
        <div class="right-w3l">
            <button class="btn btn-danger btnSubmit"><i class="fa fa-plus"></i> Cập nhật</button>

        </div>


    </form>

</div>