
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/MasterQuanTri.cshtml";
}

@using ITech.Models;
@{
   

    var Pro_spec = ViewBag.Pro_spec as List<Product_Spec>;
    var product = ViewBag.product as Product;
    var Anhs = ViewBag.Anhs as string[];
}
@section script{
    <script>
        var urlPostAction = "/Product/EditProduct";

        $(document).ready(function () {
          
            

        })

        var DuyetSP = function (id, name) {
            createMessageBoxConfirm("Thông báo", "Bạn muốn duyệt sản phẩm " + name + " ?", function (confirm) {
                if (confirm == true) {
                    $.post("/ProductAd/DuyetSP", { id: id }, function (data) {
                        createMessageBoxUrl("", data.Message, data.Error, "/san-pham-cho-duyet");
                    })
                }
            })
            return false;

        }

        var TuChoiSP = function (id, name) {
            createMessageBoxConfirm("Thông báo", "Bạn muốn từ chối duyệt sản phẩm " + name+" ?", function (confirm) {
                if (confirm == true) {
                    $.post("/ProductAd/TuChoiSP", { id: id }, function (data) {
                        createMessageBoxUrl("", data.Message, data.Error, "/san-pham-cho-duyet");
                    })
                }

            })
            return false;

        }
        var KhoaSP = function (id, name) {
            createMessageBoxConfirm("Thông báo", "Bạn muốn khóa sản phẩm " + name + " ?", function (confirm) {
                if (confirm == true) {
                    $.post("/ProductAd/KhoaSP", { id: id }, function (data) {
                        createMessageBoxUrl("", data.Message, data.Error, "/san-pham-cho-duyet");
                    })
                }
            })
            return false;
        }
    </script>
}
    <div id="content">
        <input type="hidden" id="lstTSKT" name="lstTSKT" />
        <input type="hidden" id="level1" name="level1" value="@ViewBag.itemID" />
        <input type="hidden" id="level2" name="level2" value="@ViewBag.itemID2" />
        <input type="hidden" id="ArrID" name="ArrID" value="@product.ID" />
        <input type="hidden" id="Approved" name="Approved" value="@product.ApproveStatus" />


        <!-- Page-header start -->
        <div style="pointer-events: none;" class="page-header card">
            <div class="card-block">
                <div class=" bgWhite py-5 px-5">
                    <div class="row">
                        <div class="col-12">
                            <p class="h4 font-weight-bold">Thông tin cơ bản</p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-2 p5 pt-2">Tên sản phẩm <span class="red">*</span></div>
                        <div class="col-10 p5"><input @(product.ApproveStatus == 2 ? "readonly" : "") value="@product.Title" placeholder="Nhập vào" type="text" id="TenSP" required class="required form-control" /></div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-2 p5 pt-2">Mô tả sản phẩm <span class="red">*</span></div>
                        <div class="col-10 p5">@Html.Raw(product.Description)</div>
                    </div>
                    @*<div class="row mt-5">
                        <div class="col-2 p5 pt-2">Thương hiệu <span class="red">*</span></div>
                        <div class="col-10 p5">
                            <div class="dropdown">
                                <select required @(product.ApproveStatus == 2 ? "readonly" : "") name="ddlBrand" class="form-control">
                                    <option value="">--Chọn thương hiệu--</option>
                                    @foreach (Brand x in ViewBag.Brands)
                                    {
                                        if (product.BrandID == x.ID)
                                        {
                                            <option value="@x.ID" selected>@x.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@x.ID">@x.Name</option>

                                        }
                                    }
                                </select>

                            </div>
                        </div>
                    </div>*@
                    @foreach (Specification x in ViewBag.specs)
                    {
                        <div class="row mt-5">
                            <div class="col-2 p5 pt-2">@x.Name <span class="red">*</span></div>
                            <div class="col-10 p5">
                                <div class="dropdown">
                                    <span @(product.ApproveStatus == 2 ? "readonly" : "") data-id="@x.ID" name="ddlTSKT-@x.ID" class="form-control">@foreach (Product_Spec y in ViewBag.Pro_spec){if (y.SpecID == x.ID){@(y.Value.Trim())}}</span>


                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

        <div style="pointer-events: none;" class="page-header card">
            <div class="card-block">
                <div class="bgWhite my-5 py-5 px-5">
                    <div class="row">
                        <div class="col-12">
                            <p class="h4 font-weight-bold">Thông tin bán hàng</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 p5 pt-2">Giá cũ <span class="red">*</span></div>
                        <div class="col-10 p5"><input id="GiaCu" value="@string.Format("{0:#,###}", product.OldPrice)" required type="text" class="form-control currency" /></div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 p5 pt-2">Giá mới <span class="red">*</span></div>
                        <div class="col-10 p5"><input required id="GiaMoi" value="@string.Format("{0:#,###}", product.Price)" class="form-control currency" /></div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 p5 pt-2">Kho hàng <span class="red">*</span></div>
                        <div class="col-10 p5"><input required type="number" value="@product.Inventory" id="KhoHang" class="form-control" /></div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 p5 pt-2">Chiều rộng (cm) <span class="red">*</span></div>
                        <div class="col-10 p5"><input  required type="number" value="@product.Width" id="Width" class="form-control" /></div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 p5 pt-2">Chiều cao (cm) <span class="red">*</span></div>
                        <div class="col-10 p5"><input  required type="number" value="@product.Height" id="Height" class="form-control" /></div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 p5 pt-2">Cân nặng (gram) <span class="red">*</span></div>
                        <div class="col-10 p5"><input  required type="number" value="@product.Weight" id="Weight" class="form-control" /></div>
                    </div>
                </div>
            </div>
        </div>

        <div style="pointer-events:none;" class="page-header card">
            <div class="card-block">
                <div class="bgWhite my-5 py-5 px-5">
                    <div class="row">
                        <div class="col-12">
                            <p class="h4 font-weight-bold">Quản lý hình ảnh</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 p5 pt-2">Ảnh chính</div>
                        <div class="col-2 p5">
                            <div class="image-upload"><i hidden></i><img class="img-uploadA" src="images/@product.Image" height="100%"></div>
                            <input type="file" required accept="image/x-png,image/gif,image/jpeg" id="fileuploadA" class="files" hidden onchange="loadImage2(event)" />
                            <input type="hidden" name="hdfileuploadA" value="@product.Image" />

                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 p5 pt-2">Hình Ảnh Sản Phẩm </div>
                        <div class=" col-2 p5">
                            <div class="image-upload"><i class="ti-trash" @((Anhs[0] == null || Anhs[0] == "") ? "hidden" : "") onclick="removeImg(event)"></i><img class="img-upload1" src='@((Anhs[0]==null || Anhs[0]=="") ? "/images/upload.png" : "/images/"+Anhs[0])' height="100%"></div>
                            <input value="@Anhs[0]" type="file" accept="image/x-png,image/gif,image/jpeg" id="fileupload1" class="files" hidden onchange="loadImage2(event)" />
                            <input type="hidden" name="hdfileupload1" value="@Anhs[0]" />

                        </div>
                        <div class=" col-2 p5">
                            <div class="image-upload">
                                <i class="ti-trash" @((Anhs[1] == null || Anhs[1] == "") ? "hidden" : "") onclick="removeImg(event)"></i>
                                <img class="img-upload2" src='@((Anhs[1]==null || Anhs[1]=="") ? "/images/upload.png" : "/images/"+Anhs[1])' height="100%">
                            </div>
                            <input type="file" accept="image/x-png,image/gif,image/jpeg" id="fileupload2" class="files" hidden onchange="loadImage2(event)" />
                            <input type="hidden" name="hdfileupload2" value="@Anhs[1]" />
                        </div>
                        <div class=" col-2 p5">
                            <div class=" image-upload">
                                <i class="ti-trash" @((Anhs[2] == null || Anhs[2] == "") ? "hidden" : "") onclick="removeImg(event)"></i>
                                <img class="img-upload3" src='@((Anhs[2]==null || Anhs[2]=="") ? "/images/upload.png" : "/images/"+Anhs[2])' height="100%">
                            </div>
                            <input value="@Anhs[2]" type="file" accept="image/x-png,image/gif,image/jpeg" id="fileupload3" class="files" hidden onchange="loadImage2(event)" />
                            <input type="hidden" name="hdfileupload3" value="@Anhs[2]" />


                        </div>
                        <div class=" col-2 p5">
                            <div class="image-upload">
                                <i class="ti-trash" @((Anhs[3] == null || Anhs[3] == "") ? "hidden" : "") onclick="removeImg(event)"></i>
                                <img class="img-upload4" src='@((Anhs[3]==null || Anhs[3]=="") ? "/images/upload.png" : "/images/"+Anhs[3])' height="100%">
                            </div>
                            <input value="@Anhs[3]" type="file" accept="image/x-png,image/gif,image/jpeg" id="fileupload4" class="files" hidden onchange="loadImage2(event)" />
                            <input type="hidden" name="hdfileupload4" value="@Anhs[3]" />


                        </div>
                        <div class=" col-2 p5">
                            <div class="image-upload">
                                <i class="ti-trash" @((Anhs[4] == null || Anhs[4] == "") ? "hidden" : "") onclick="removeImg(event)"></i>
                                <img class="img-upload5" src='@((Anhs[4]==null || Anhs[4]=="") ? "/images/upload.png" : "/images/"+Anhs[4])' height="100%">
                            </div>
                            <input type="file" value="@Anhs[4]" accept="image/x-png,image/gif,image/jpeg" id="fileupload5" class="files" hidden onchange="loadImage2(event)" />
                            <input type="hidden" name="hdfileupload5" value="@Anhs[4]" />


                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div style="pointer-events: none;" class="page-header card">
            <div class="card-block">
                <div class="bgWhite mt-5 py-5 px-5">
                    <div class="row">
                        <div class="col-12">
                            <p class="h4 font-weight-bold">Thông tin khác</p>
                        </div>
                    </div>
                    <div class="row my-5" style="pointer-events:@(product.ApproveStatus==2?"none":"")">
                        <div class="col-2 p5">Tình Trạng Hàng</div>

                        @if (product.StatusProduct == "Mới")
                        {
                            <div class="col-1 p5">
                                <input type="radio" checked name="statusProduct" value="Mới">Mới
                            </div>
                            <div class="col-2 p5">
                                <input type="radio" name="statusProduct" value="Đã sử dụng"> Đã sử dụng

                            </div>
                        }
                        else
                        {
                            <div class="col-1 p5">
                                <input type="radio" name="statusProduct" value="Mới">Mới
                            </div>
                            <div class="col-2 p5">
                                <input type="radio" checked name="statusProduct" value="Đã sử dụng"> Đã sử dụng

                            </div>
                        }




                    </div>
                    <div class="row my-5">
                        <div class="col-2 p5 pt-2">SKU Sản Phẩm</div>
                        <div class="col-10 p5"><input @(product.ApproveStatus == 2 ? "readonly" : "") value="@product.SKU" name="SKUSanPham" class="form-control" /></div>
                    </div>


                </div>
            </div>
        </div>

        <div style="pointer-events: none;" class="page-header card my-5">
            <div class="card-block">

            </div>
        </div>
        <div class="fixed-button">
            @if (product.ApproveStatus != HangSo.DaDuyet)
            {
                <a href="javascript:;" onclick="return DuyetSP('@product.ID', '@product.Title')" target="_blank" class="btn btn-md btn-success">
                    <i class="fa fa-check"></i> Duyệt
                </a>
                <a href="javascript:;" onclick="return TuChoiSP('@product.ID', '@product.Title')" target="_blank" class="btn btn-md btn-primary">
                    <i class="fa fa-hand-paper"></i> Từ chối
                </a>
            }

            <a href="javascript:;" onclick="return KhoaSP('@product.ID', '@product.Title')" target="_blank" class="btn btn-md btn-inverse">
                <i class="fa fa-lock"></i> Khóa
            </a>
        </div>
        

    </div>



